body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
  color: #333;
  margin: 80px;
}

.boxdays {
  background-color: rgb(141, 171, 72);
  padding: 1em 1em 1em 1em;
  display: flex;
  flex-direction: column;
  gap: 3em;
  align-items: center;
  
}
.title{
    background-color: rgb(82, 33, 180);
    border: 0.1em solid black;
    width: 100px;
    padding: 1em 1em 1em 1em;
    display: flex;
    flex-direction: column;
    gap: 3em;
    align-items: center;


}

#logo{
  width: 5em;
  font-size: 50px;
}

#days{
  background-color: rgb(170, 189, 195);
  width: 1000px;
  margin: auto;
  margin-top: 1.5em;
  border: 1.8px  solid black;
  border-radius: 1%;
  padding: 1em;
  display: flex;
  flex-direction: row;
  justify-content: space-around;


}
